#updateButton {
    border: 2px solid firebrick;
    background-color: purple;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    box-shadow: 0 3px 4px 0 grey, 0 6px 8px 0 gray;
}

#updateButton:hover {
    position: relative;
    top: 1px;
    left: 1px;
    box-shadow: 0 2px 3px 0 grey, 0 3px 4px 0 gray;
}

#updateButton:active {
    position: relative;
    top: 4px;
    box-shadow: 0 0 0 0, 0 0 0 0;
}

